@charset "UTF-8";
* {box-sizing: border-box;}
ul {margin:0px; padding:0px;}
li {display: block;}
h1, p, figure {margin:0px;}
.hide{display:none}

.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;	
    overflow-y:auto;
    padding-bottom:60px;
	background:url(../images/bg-1.jpg) no-repeat;
	background-size:cover;	     
}
.full-container{
	width:90%;
	margin:0px auto;
}

#main{
	margin-top:10px;
	padding:10px;
	border:1px solid #ccc;
	background:rgba(255,255,255,0.7);
}
#bottom-menu {
	width:100%;
	height:45px;
	position:fixed;
	bottom:0px;
	left:0px;
	border-top:1px solid #101010;
	background:rgba(255,255,255,0.8);
}
	#bottom-menu ul {
		display: -webkit-flex;
  		display: flex;
	    -webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		width:100%;
		height:inherit;
	}
		#bottom-menu li {
			width:25%;
			text-align:center;
			height:inherit;
			background:no-repeat 50%;
			background-size:30px;
		}
		#bottom-menu li:nth-child(1) {
			background-image:url("../images/icon-home.png");		
		}
		#bottom-menu li:nth-child(2) {
			background-image:url("../images/icon-local.png");
		}
		#bottom-menu li:nth-child(3) {
			background-image:url("../images/icon-watch.png");
		}		
		#bottom-menu li:nth-child(4) {
			background-image:url("../images/icon-set.jpg");
		}	
			#bottom-menu li a {
				display: block;
				width:initial;
				height:inherit;
				text-indent:-9999px;
			}