@charset "UTF-8";
* {box-sizing: border-box;}
html, body, ul, h1, p, figure {margin:0px; padding:0px;}
li {display: block;}
.hide{display:none}

/* ---------- bg ---------------*/
.bg-white {
	background:rgba(255,255,255,0.7);
}
.bg-black {
	background:rgba(0,0,0,0.7)
}
.bg-morning{
	background:url(../images/bg-morning.jpg) no-repeat;
	background-size:cover;
}
.bg-after{
	background:url(../images/bg-after.jpg) no-repeat;
	background-size:cover;	
}
.bg-night{
	background:url(../images/bg-night.jpg) no-repeat;
	background-size:cover;	
}

/* ---------- layout -----------*/
.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;	
    overflow-x:hidden;
    overflow-y:auto;
    padding-bottom:60px;
}
.full-container {
	height: calc(100% - 60px);	
}

.container {
	padding:10px;
	margin:10px 10px 0px;
	border:1px solid #ccc;
}

.cont-scroll {
	overflow-y:scroll;
	height: calc(100% - 100px);	
}

/* ------------------ header ----------------- */
#header {
	height: 60px; 
	box-sizing: content-box; 
	background: #dddddf;  
	font-size: 0.9em;
}

	#header .content-container {
		display: flex;
	}  

		#header section:nth-child(1){
			width : 95%;
			padding: 15px;  
		}
		#header section:nth-child(2){
			padding: 15px;   
		}				
/* ----------------- 토글 스위치  ----------------- */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; 
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 


/* -------- main ---------*/

/* -------- bottom menu ----- */
#bottom-menu {
	width:100%;
	height:45px;
	position:fixed;
	bottom:0px;
	left:0px;
	border-top:1px solid #101010;
	background:rgba(255,255,255,0.8);
}
	#bottom-menu ul {
		display: -webkit-flex;
  		display: flex;
	    -webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		width:100%;
		height:inherit;
	}
		#bottom-menu li {
			width:25%;
			text-align:center;
			height:inherit;
			background:no-repeat 50%;
			background-size:30px;
		}
		#bottom-menu li:nth-child(1) {
			background-image:url("../images/icon-home.png");		
		}
		#bottom-menu li:nth-child(2) {
			background-image:url("../images/icon-local.png");
		}
		#bottom-menu li:nth-child(3) {
			background-image:url("../images/icon-watch.png");
		}		
		#bottom-menu li:nth-child(4) {
			background-image:url("../images/icon-set.jpg");
		}	
			#bottom-menu li a {
				display: block;
				width:initial;
				height:inherit;
				text-indent:-9999px;
			}